/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
 font-family: 'Lobster', cursive;
 font-family: 'Fjalla One', sans-serif;
 font-family: 'Muli', sans-serif;
 font-family: 'Pacifico', cursive;
 font-family: 'Shadows Into Light', cursive;
 font-family: 'Signika', sans-serif;
*/
#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background: #A9A4A4;
background-repeat: no-repeat;
background-size: cover;
}



h1{
font-family: 'Shadows Into Light', cursive;
color: white;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}

h2{
font-family:'Fjalla One', sans-serif;
color: black;
margin-left: 10px;
font-size: 20px;
text-align: center; 
}

h3{
font-family: 'Fjalla One', sans-serif;
color: white;
font-size: 40px;
text-align: center; 
}


header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
background: black;
text-align: center;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 3px;
background: #FF5900;
position: center;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	--background: #FF5900;
	margin: 3px;
	border-radius: 10px;

}

section{
	width: 500px;
	background: #5B5756;
	height: 400px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}
aside{

	width: 400px;
	background: #FF5900;
	height: 400px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer{
width: 1000px;
height: 90px;
background: #4C4A4A;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: center;
}

img#img_baner{
width: 1000px;
height: 70px;
margin: auto;
border-image-width;

}


img#img_logo{
width: 200px;
height:  100px;
border-image-width;

}





/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: #FF5900; text-decoration: none;}
.menu:visited{color: orange; text-decoration: none;}
.menu:hover{color: black; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: black; text-decoration: none;}

/*SEUDO CLASES*/

















